<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script>src="/js/app.js"</script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is the help page. Pretty cool, huh?</p>
    </div>
    {{>footer}}
</body>

</html>